{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block page_content %}
    <h1>Olá,  
        {% if current_user.is_anonymous %}
            Estranho!
        {% else %}
            {{ current_user.name }}!
        {% endif %}
    </h1>

    {% if current_user.has_permission(4) %}
        {{ wtf.quick_form(form) }}
    {% endif %}

    <li class="posts">
        {% for post in posts %}
        <div class="post-author">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            <div class="post-body">
                {{ post.body }}
            </div>
        </div>
        {% endfor %}
    </li>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    
    
{% endblock %}